h1 {
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.beg {
  display: flex;
  flex-direction: column;
  background-color: rgb(150, 142, 142);
  color: rgb(36, 36, 58);
  width: fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}
.image1 {
  height: 200px;
  width: fit-content;
}
.image2 {
  height: 200px;
  width: 400px;
}
.image3 {
  height: 200px;
  width: 400px;
}
.image4 {
  height: 200px;
  width: 800px;
}
.image5 {
  height: 200px;
  width: 650px;
}

.box1 {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  background-color: rgb(36, 36, 58);
  color: rgb(150, 142, 142);
  align-items: start;
  font-size: 10.1px;
  font-weight: bolder;
  width: fit-content;
}
body {
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: rgb(17, 17, 17);
}

.body {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* background-color: rgb(5, 71, 71); */
  justify-content: space-around;
}
.shaolin {
  display: flex;
  flex-direction: column;
  width: 430px;
  background-color: rgb(36, 36, 58);
  color: rgb(150, 142, 142);
  align-items: start;
  font-size: 10.1px;
  font-weight: bolder;
  /* width: fit-content; */
}
.wave {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  background-color: rgb(36, 36, 58);
  color: rgb(150, 142, 142);
  align-items: start;
  font-size: 10.1px;
  font-weight: bolder;
  width: fit-content;
}
.roller {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgb(36, 36, 58);
  color: rgb(150, 142, 142);
  align-items: start;
  font-size: 10.1px;
  font-weight: bolder;
  /* width: fit-content; */
}
.bad {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  background-color: rgb(36, 36, 58);
  color: rgb(150, 142, 142);
  align-items: start;
  font-size: 10.1px;
  font-weight: bolder;
  width: fit-content;
}
.breathe {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  background-color: rgb(36, 36, 58);
  color: rgb(150, 142, 142);
  align-items: start;
  font-size: 10.1px;
  font-weight: bolder;
  width: fit-content;
}
.box2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* background-color: rgb(5, 71, 71); */
  justify-content: space-around;
}
.miguel {
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: rgb(36, 36, 58);
  color: rgb(150, 142, 142);
  align-items: start;
  font-size: 10.1px;
  font-weight: bolder;
  /* width: fit-content; */
}
.box3 {
  display: flex;

  justify-content: center;
}
.mama {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  background-color: rgb(36, 36, 58);
  color: rgb(150, 142, 142);
  align-items: start;
  font-size: 10.1px;
  font-weight: bolder;
  width: fit-content;
}
.box4 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* background-color: rgb(5, 71, 71); */
  justify-content: space-around;
}
.iron {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  /* background-color:rgb(36, 36, 58); */
  color: rgb(150, 142, 142);
  align-items: start;
  font-size: 10.1px;
  font-weight: bolder;
  width: fit-content;
}
.document {
  color: red;
  font-size: 70px;
  display: flex;

  justify-content: center;
}
@media (max-width: 600px) {
  .body {
    background-color: brown;
    display: flex;
    flex-direction: column;
  }
  .box1 {
    font-size: 8px;
  }
  .image1 {
    width: 23.31rem;
  }
  .shaolin {
    font-size: 8px;
    width: 23.31rem;
  }
  .image2 {
    width: 23rem;
  }
  .box2 {
    background-color: brown;
    display: flex;
    flex-direction: column;
  }
  .roller {
    font-size: 8px;
    width: 23.3rem;
  }
  .image3 {
    width: 23.3rem;
  }
  .bad {
    font-size: 8px;
    width: 23.3rem;
  }

  .miguel {
    font-size: 8px;
    width: 23.3rem;
  }
  .image4 {
    width: 23.3rem;
  }
  .box4 {
    background-color: brown;
    display: flex;
    flex-direction: column;
  }
  .mama {
    font-size: 8px;
    width: 23.3rem;
  }
  .iron {
    font-size: 8px;
    width: 23.3rem;
  }
  .image5 {
    width: 23.3rem;
  }
  .document {
    font-size: 30px;
  }
}
